# Xcode
xcuserdata/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
timeline.xctimeline
playground.xcworkspace
.build/

# Build artifacts
build/
build2/
build_output/
*.xcarchive

# Build logs
*.log
build_log.txt

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
